@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffa45f;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #f3eee9, #ffa45f), repeating-radial-gradient(circle at center center, #f3eee9, #f3eee9, 18px, transparent 36px, transparent 18px);
  background-blend-mode: multiply;
}